/*
 * Dit is de custom style sheet van jouw website
 *
 */

body {

	font-family: "Courier New";
	background-color: #FAF3DD;

}

a {
    color: #FB3640;
	text-decoration: none;
    font-size: 20px;

}

.aligncenter, div.aligncenter {

	margin-left: auto;
	margin-right: auto;
}

.alignleft {

	float: left;
}

.alignright {

	float: right;
}

.wrap {
	clear: both;
	margin:0 auto;
	width:860px;
    color: #222222;
    text-align: center;
}

.menu {
	text-align: center;
    clear: both;
    margin-left: auto;
    margin-right: auto;
    width:860px;
    color: #222222;
}

hr {

}

.logo{
    font-family: 'Special Elite', cursive;
}

#banksy {
    width: 35%;
    margin-top: 50px;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}



#content {
	width: 40%;
}

#banksy:hover {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);

}

nav {
	width:860px;
	height: 20px;
}

nav ul {
	padding-left: 0;
	list-style: none;

}


nav ul li a {

	padding-right: 30px;
}

nav a {

	display: block;
	float: left;
	text-transform: uppercase;
	font-size: 18px;
}

#media{
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

#media:hover{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

footer {


}